<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-inst..." xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web..." id="WebApp_ID" version="3.0">


<servlet>
<servlet-name>regs</servlet-name>
<servlet-class>servlet.regs</servlet-class>

</servlet>

<servlet-mapping>
<servlet-name>regs</servlet-name>
<url-pattern>/regss</url-pattern> 
</servlet-mapping>

<servlet>
<servlet-name>addve</servlet-name>
<servlet-class>servlet.regs</servlet-class>

</servlet>

<servlet-mapping>
<servlet-name>addve</servlet-name>
<url-pattern>/addvehi</url-pattern> 
</servlet-mapping>


<servlet>
<servlet-name>adddri</servlet-name>
<servlet-class>servlet.adddri</servlet-class>

</servlet>

<servlet-mapping>
<servlet-name>adddri</servlet-name>
<url-pattern>/adddriver</url-pattern> 
</servlet-mapping>

<servlet>
<servlet-name>regup</servlet-name>
<servlet-class>servlet.regup</servlet-class>

</servlet>

<servlet-mapping>
<servlet-name>regup</servlet-name>
<url-pattern>/regupp</url-pattern> 
</servlet-mapping>

<servlet>
<servlet-name>vup</servlet-name>
<servlet-class>servlet.vup</servlet-class>

</servlet>

<servlet-mapping>
<servlet-name>vup</servlet-name>
<url-pattern>/vupp</url-pattern> 
</servlet-mapping>


<servlet>
<servlet-name>driverup</servlet-name>
<servlet-class>servlet.driverup</servlet-class>

</servlet>

<servlet-mapping>
<servlet-name>driverup</servlet-name>
<url-pattern>/driverupp</url-pattern> 
</servlet-mapping>



<servlet>
<servlet-name>regstb</servlet-name>
<servlet-class>servlet.regstb</servlet-class>

</servlet>

<servlet-mapping>
<servlet-name>regstb</servlet-name>
<url-pattern>/regstbb</url-pattern> 
</servlet-mapping>




<servlet>
<servlet-name>vehiclestb</servlet-name>
<servlet-class>servlet.vehiclestb</servlet-class>

</servlet>

<servlet-mapping>
<servlet-name>vehiclestb</servlet-name>
<url-pattern>/vehiclestbb</url-pattern> 
</servlet-mapping>

<servlet>
<servlet-name>driverstb</servlet-name>
<servlet-class>servlet.driverstb</servlet-class>

</servlet>

<servlet-mapping>
<servlet-name>driverstb</servlet-name>
<url-pattern>/driverstbb</url-pattern> 
</servlet-mapping>

<servlet>
<servlet-name>delreg</servlet-name>
<servlet-class>servlet.delreg</servlet-class>

</servlet>

<servlet-mapping>
<servlet-name>delreg</servlet-name>
<url-pattern>/delregg</url-pattern> 
</servlet-mapping>


<servlet>
<servlet-name>delvehicle</servlet-name>
<servlet-class>servlet.delvehicle</servlet-class>

</servlet>

<servlet-mapping>
<servlet-name>delvehicle</servlet-name>
<url-pattern>/delvehiclee</url-pattern> 
</servlet-mapping>


<servlet>
<servlet-name>deldri</servlet-name>
<servlet-class>servlet.deldriver</servlet-class>

</servlet>

<servlet-mapping>
<servlet-name>deldri</servlet-name>
<url-pattern>/deldrii</url-pattern> 
</servlet-mapping>



<servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/loginn</url-pattern>
    </servlet-mapping>

<servlet>
<servlet-name>loggg</servlet-name>
<servlet-class>servlet.loggg</servlet-class>

</servlet>

<servlet-mapping>
<servlet-name>loggg</servlet-name>
<url-pattern>/logggg</url-pattern> 
</servlet-mapping>



<servlet>
<servlet-name>BookingServlet</servlet-name>
<servlet-class>servlet.BookingServlet</servlet-class>

</servlet>

<servlet-mapping>
<servlet-name>BookingServlet</servlet-name>
<url-pattern>/BookingServlett</url-pattern> 
</servlet-mapping>

<servlet>
<servlet-name>GenerateBillServlet</servlet-name>
<servlet-class>servlet.GenerateBillServlet</servlet-class>

</servlet>

<servlet-mapping>
<servlet-name>GenerateBillServlet</servlet-name>
<url-pattern>/GenerateBillServlett</url-pattern> 
</servlet-mapping>


</web-app>












